*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #262a2f;
    color: #333;
}
.search-box{
  width: 600px;
  background:#fff;
  margin: 200px auto 0;
  border-radius: 5px ;
}
